<div class="row">
	<% if @menu.school == current_school %>
		<div class="edit-area" style="float: right;">
			<%= link_to "編集", edit_public_menu_path(@menu), class: "btn btn-primary" %>
			<%= link_to "削除", public_menu_path(@menu), method: :delete, "data-confirm" => "投稿が削除されます。本当によろしいですか？", class: "btn btn-danger" %>
		</div>
	<% end %>
	<div class="menu-title">
		<h2><%= @menu.title %></h2>
		<div class="genre">
			<p>ジャンル：<%= @menu.genre.name %></p>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="menu-image">
			<%= attachment_image_tag @menu, :image, :fill, 500, 330, fallback: "no-image.jpg", size:'500x330' %>
		</div>
	</div>

	<div class="col-xs-5 col-xs-offset-1">
		<div clas="menu-school-name">
			<h4>by　<%=link_to @menu.school.name, public_school_path(@menu.school) %></h4>
		</div>
		<% if school_signed_in? %>
			<div class="favorite">
				<p>
					<% if @menu.favorited_by?(current_school) %>
	              		<%= link_to public_menu_favorites_path(@menu), method: :delete do %>
	                		<span class="glyphicon glyphicon-heart" style="color: red;"></span>
	              		<% end %>
	              		お気に入りされた数：<%= @menu.favorites.count%>
	            	<% else %>
	              		<%= link_to public_menu_favorites_path(@menu), method: :post, class:"btn btn-default" do %>
	                		<span class="glyphicon glyphicon-heart-empty">お気に入りに入れる</span>
	              		<% end %>
	            	<% end %>
				</p>
			</div>
		<% end %>
		<div class="menu-list">
			<ul>
				<li>主食：<%= @menu.staple_food %></li>
				<li>主菜：<%= @menu.main_dish %></li>
				<li>副菜：<%= @menu.side_dish %></li>
				<li>汁物：<%= @menu.soup %></li>
				<li>デザート：<%= @menu.dessert %></li>
				<li>飲み物：<%= @menu.drink %></li>
			</ul>
		</div>
		<div class="nutritional-value">
			<h4>栄養価（一人当たり）</h4>
			<table class="nutritional-value-table table table-bordered" style="text-align: center;">
				<tr>
					<th class="active">エネルギー</th>
					<td><%= @menu.energy %> kcal</td>
				</tr>
				<tr>
					<th class="active">タンパク質</th>
					<td><%= @menu.protein %> g</td>
				</tr>
				<tr>
					<th class="active">脂質</th>
					<td><%= @menu.fat %> g</td>
				</tr>
				<tr>
					<th class="active">塩分量</th>
					<td><%= @menu.sodium %> g</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="comment col-xs-6">
		<h3><strong>コメント</strong></h3>
		<div class="comment-area">
			<p><%=safe_join(@menu.comment.split("\n"),tag(:br)) %></p>
		</div>
	</div>

</div>


<% if school_signed_in? %>
<% else %>
<p class="top-back" style="float: right;">
	<%= link_to "献立一覧にもどる", public_menus_path %>
</p>
<% end %>