<h2><%= @menu.title %></h2>
<div class="row">
	<div class="genre">
		<p>ジャンル：<%= @menu.genre.name %></p>
	</div>
	<div class="col-md-6">
		<div class="menu-image">
			<%= attachment_image_tag @menu, :image, :fill, 500, 300, fallback: "no-image.jpg", size:'500x300' %>
		</div>
	</div>
	<div class="col-md-6">
		<div clas="menu-school-name">
			<h3>by　<%= @menu.school.name %></h3>
		</div>
		<% if school_signed_in? %>
			<div class="favorite">
				<p>
					<% if @menu.favorited_by?(current_school) %>
	              		<%= link_to public_menu_favorites_path(@menu), method: :delete do %>
	                		<span class="glyphicon glyphicon-heart">：<%= @menu.favorites.count%></span>
	              		<% end %>
	            	<% else %>
	              		<%= link_to public_menu_favorites_path(@menu), method: :post do %>
	                		<span class="glyphicon glyphicon-heart-empty">：<%= @menu.favorites.count %></span>
	              		<% end %>
	            	<% end %>
				</p>
			</div>
		<% end %>
		<div class="menu-list">
			<ul>
				<li>主食：<%= @menu.staple_food %></li>
				<li>主菜：<%= @menu.main_dish %></li>
				<li>副菜：<%= @menu.side_dish %></li>
				<li>汁物：<%= @menu.soup %></li>
				<li>デザート：<%= @menu.dessert %></li>
				<li>飲み物：<%= @menu.drink %></li>
			</ul>
		</div>
		<div class="nutritional-value">
			<h4>栄養価（一人当たり）</h4>
			<ul>
				<li>エネルギー：<%= @menu.energy %></li>
				<li>タンパク質：<%= @menu.protein %></li>
				<li>脂質：<%= @menu.fat %></li>
				<li>塩分量：<%= @menu.sodium %></li>
			</ul>
		</div>
	</div>
	<div class="comment">
		<h3>コメント</h3>
		<div class="comment-area">
			<p><%= @menu.comment %></p>
		</div>
	</div>
	<% if @menu.school == current_school %>
		<div class="edit-area">
			<%= link_to "編集", edit_public_menu_path(@menu), class: "btn btn-primary" %>
			<%= link_to "削除", public_menu_path(@menu), method: :delete, "data-confirm" => "投稿が削除されます。本当によろしいですか？", class: "btn btn-danger" %>
		</div>
	<% end %>
</div>

<% if school_signed_in? %>
<% else %>
<p class="top-back" style="float: right;">
	<%= link_to "献立一覧にもどる", public_menus_path %>
</p>
<% end %>