<p class="top-back" style="float: right;">
	<%= link_to "Topにもどる", admin_homes_top_path %>
</p>
<h2>ジャンル一覧</h2>
<div class="form">
	<%= form_for(@genre, url: admin_genres_path) do |f| %>
		<%= f.label :name, "ジャンル名" %>
		<%= f.text_field :name %>
		<%= f.submit "追加する", class:"btn btn-primary" %>
	<% end %>
</div>
<table class="table">
	<thead>
		<tr>
			<th>ジャンル名</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @genres.each do |genre| %>
			<tr>
				<td><%= genre.name %></td>
				<td><%= link_to "削除", admin_genre_path(genre), method: :delete, "data-confirm" => "削除します。本当によろしいですか？", class: "btn btn-danger" %></td>
			</tr>
		<% end %>
	</tbody>
</table>
