<div class="row">
	<div class="contents">
		<p>管理者トップページ</p>
		<ul>
			<li><%= link_to "投稿一覧", admin_menus_path %>を確認する</li>
			<li><%= link_to "会員一覧", admin_schools_path %>を確認する</li>
			<li><%= link_to "ジャンル設定", admin_genres_path %>を行う</li>
			<li><%= link_to "お問い合わせ", admin_contacts_path %>を確認する</li>
		</ul>
	</div>
	<div class="contents">
		<p>管理者情報</p>
		<table clasS="table">
			<tr>
				<th>管理者名</th>
				<td><%= @admin.name %></td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td><%#= @admin.email %></td>
			</tr>
		</table>
	</div>
</div>