<p class="top-back" style="float: right;">
	<%= link_to "Topにもどる", admin_homes_top_path %>
</p>
<h2>会員一覧</h2>
<table class="table">
	<thead>
		<th>学校ID</th>
		<th>学校名</th>
		<th>メールアドレス</th>
		<th></th>
	</thead>
	<tbody>
		<% @schools.each do |school| %>
			<tr>
				<td><%= school.id %></td>
				<td><%= school.name %></td>
				<td><%= school.email %></td>
				<td><%= link_to "詳細", admin_school_path(school), class: "btn btn-primary" %></td>
			</tr>
		<% end %>
	</tbody>
</table>
