<p class="top-back" style="float: right;">
	<%= link_to "会員一覧にもどる", admin_schools_path %>　/　<%= link_to "Topにもどる", admin_homes_top_path %>

<h2><%= @school.name %>さんの職員室</h2>
<div class="row">
	<table class="table table-bordered">
		<tr>
			<th class="warning">学校名</th>
			<td><%= @school.name %></td>
		</tr>
		<tr>
			<th class="warning">メールアドレス</th>
			<td><%= @school.email %></td>
		</tr>
		<tr>
			<th class="warning">郵便番号</th>
			<td><%= @school.postcode %></td>
		</tr>
		<tr>
			<th class="warning">住所</th>
			<td><%= @school.street_address %></td>
		</tr>
		<tr>
			<th class="warning">電話番号</th>
			<td><%= @school.phone_number %></td>
		</tr>
	</table>
</div>
