<p class="top-back" style="float: right;">
	<%= link_to "Topにもどる", admin_homes_top_path %>
</p>

<h2>お問い合わせ一覧</h2>
<div class="row">
	<table class="table">
		<thead>
			<tr>
				<th>送信日</th>
				<th>学校名</th>
				<th>メールアドレス</th>
				<th>対応</th>
			</tr>
		</thead>
		<tbody>
			<% @contacts.each do |contact| %>
				<tr>
					<td><%= link_to contact.created_at.strftime('%Y/%m/%d'), edit_admin_contact_path(contact) %></td>
					<td><%= contact.name %></td>
					<td><%= contact.email %></td>
					<td><%= contact.contact_status %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= paginate @contacts %>
</div>

