<p class="top-back" style="float: right;">
	<%= link_to "Topにもどる", admin_homes_top_path %>
</p>
<h2>投稿一覧</h2>
<div class="row">
	<table class="table table-bordered">
		<% @menus.each do |menu| %>
			<tr>
				<td><%= attachment_image_tag menu, :image, :fill, 150, 80, fallback: "no-image.jpg", size: '150x80' %></td>
				<td>
					<h4><%= menu.school.name %></h4>
					<%= link_to edit_admin_menu_path(menu.id) do %>
						<h4><%= menu.title %></h4>
					<% end %>
				</td>
				<td><%= menu.status %></td>
			</tr>
		<% end %>
	</table>
</div>
